src/flows/Account_owner_change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Collection</name>
        <label>Account Collection</label>
        <locationX>397</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>ListOfAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AcceptAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>164</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>Accobj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountOwner</name>
        <label>AccountOwner</label>
        <locationX>158</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accobj.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Account_owner change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_owner change</label>
    <loops>
        <name>AcceptAccount</name>
        <label>AcceptAccount</label>
        <locationX>123</locationX>
        <locationY>81</locationY>
        <assignNextValueToReference>Accobj</assignNextValueToReference>
        <collectionReference>ListOfAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fuaccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>fuaccount</name>
        <label>fuaccount</label>
        <locationX>361</locationX>
        <locationY>73</locationY>
        <inputReference>ListOfAccounts</inputReference>
    </recordUpdates>
    <startElementReference>AcceptAccount</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Accobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListOfAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
